@charset "utf-8";

/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

html {
  background: #222222;
  font-size: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #F6FF00;
  mix-blend-mode: color-burn;
  pointer-events: none;
  /* ポインターイベントを透過させる */
  z-index: 999;
  /* 必要に応じて調整 */
  transition: opacity 1.2s ease-out;
}

body.fade-out::before {
  opacity: 0;
}

header {
  display: flex;
  width: 100%;
  height: 140px;
}

header h1 {
  width: 98px;
  height: 35px;
}

header div {
  margin: 0 auto;
  width: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header .graphic a {
  color: var(--smoke, #F4F4F4);
  font-size: 1.5rem;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-right: 72px;
}

header .advertisment a {
  color: var(--smoke, #F4F4F4);
  font-size: 1.5rem;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 350;
  line-height: 40px;
}

/* main */

#hero div {
  width: 100%;
  height: 884px;
  position: relative;
  overflow: hidden;
  background-color: #222222;
  z-index: 3;
}

#hero button {
  color: var(--smoke, #F4F4F4);
  font-size: 1.5rem;
  font-family: "scotch-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 998;

  display: inline-block;
  width: 210px;
  height: 210px;
  opacity: 1;
  border: 2px solid var(--smoke, #F4F4F4);
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.6);
  /* backdrop-filter: blur(8px); */
  text-align: center;
  line-height: auto;
  cursor: pointer;

  transition: width 1.2s ease-out, height 1.2s ease-out, opacity 1.2s ease-out;
  ;
}

#hero button.fade-in {
  width: 100vw;
  height: 100vw;
  opacity: 0;
}

#hero .ImAGraphicDesigner {
  color: #222222;
  text-align: center;
  font-size: 12.5rem;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  text-shadow: -2px 2px 0 #F4F4F4,
    2px 2px 0 #F4F4F4,
    2px -2px 0 #F4F4F4,
    -2px -2px 0 #F4F4F4;
  white-space: nowrap;
  position: absolute;
  top: 69px;
  left: -1224px;
  transition: left 300ms ease-out, right 300ms ease-out;
}

#hero.fade-in .ImAGraphicDesigner {
  left: 36px;
}

#hero .GraphicDesigner {
  transition: color 1.2s ease-out;
}

#hero.fade-in .GraphicDesigner {
  text-shadow: none;
  color: #f4f4f4;
}

#hero .heresMyWorks {
  color: #222222;
  text-align: center;
  font-size: 12.5rem;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  text-shadow: -2px 2px 0 #F4F4F4,
    2px 2px 0 #F4F4F4,
    2px -2px 0 #F4F4F4,
    -2px -2px 0 #F4F4F4;
  white-space: nowrap;
  position: absolute;
  top: 311px;
  left: 1135px;

  transition: left 300ms ease-out;
}

#hero.fade-in .heresMyWorks {
  left: 36px;
}

#hero svg {
  position: absolute;
  top: 398px;
  left: 253px;

  transition: width 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), height 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), top 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#hero.fade-in svg {
  width: 130px;
  height: auto;
  top: 660px;
  left: 419px;
}

#hero .myPortrait {
  width: 1418px;
  height: auto;
  object-fit: cover;
  position: absolute;
  right: -748px;

  z-index: 998;
  transition-property: width, right, bottom;
  transition-duration: 1.2s;
  transition-timing-function: ease-out;
}

#hero.fade-in .myPortrait {
  width: 845px;
  right: -262px;
  bottom: 0;
}

#hero .designedByTaku {
  color: var(--smoke, #F4F4F4);
  font-size: 64px;
  font-family: Scotch Display;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  left: -76px;
  top: 678px;
  opacity: 0;
  transition: left 1.2s ease-out, opacity 1.2s ease-out;
}

#hero.fade-in .designedByTaku {
  left: 24px;
  opacity: 1;
}

#hero .latestUpdated {
  color: var(--smoke, #F4F4F4);
  font-size: 32px;
  font-family: Scotch Display;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  left: -176px;
  top: 762px;
  opacity: 0;
  transition: left 1.2s ease-out, opacity 1.2s ease-out;
}

#hero.fade-in .latestUpdated {
  left: 24px;
  opacity: 1;
}



/* philosophy */

#philosophy {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#philosophy::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0.80) 50%, #222 100%);
  mix-blend-mode: color;
  backdrop-filter: blur(15px);
  pointer-events: none;
  opacity: 1;
  z-index: -1;
}

#philosophy .decStatement {
  position: absolute;
  top: 100vh;
  z-index: 1;
  width: 100%;
  will-change: transform;
}

#philosophy .myPhilosophy {
  z-index: 1;
}


#philosophy .myPhilosophy li {
  margin: 40vh 0 40vh 40vw;
  flex-direction: column;
  color: var(--smoke, #F4F4F4);
  font-size: 36px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  width: 50vw;
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

#philosophy .myPhilosophy .blurDetached {
  filter: none;
}

#philosophy .backgroundImages {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: -2;
  top: 20vh;
  will-change: transform;
}

#philosophy .backgroundImages img {
  width: 100vw;
  height: auto;
}


#philosophy .message {
  margin: 0 auto;
  width: 0;
  background: #222;
  box-sizing: border-box;
  height: 200vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
  max-width: 100%;
}

#philosophy .message h3 {
  color: var(--smoke, #F4F4F4);
  text-align: center;
  font-size: calc(48px * (100vw - 768 / 1152));
  font-family: Scotch Display;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  position: absolute;
  top: 75%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* works */

#works {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #222;
}

#works .worksWindow {
  margin: 34px auto;
  height: 360px;
  width: 95%;
  overflow: hidden;
  border-radius: 100px;
  position: relative;
  will-change: transform;
}

#works .worksWindow .title {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  mix-blend-mode: difference;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#works .worksWindow .title .reelWrap{
  display: flex;
  height: max-content;
  width: max-content;
  white-space: nowrap;
  will-change: transform;
  align-items: center;
}

#works .worksWindow .title li {
  width: 100%;
  margin: 0 100px;
}

#works .worksWindow .title ul li h2 {
  color: #FFF;
  text-align: center;
  font-size: 5vw;
  font-family: Salina-Trial;
  font-style: normal;
  font-weight: 100;
  white-space: nowrap;
  line-height: 320px;
  vertical-align: center;
  cursor: pointer;
}

#works .worksWindow .title ul li span {
  display: inline-block;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
}

#works .worksWindow .title span img {
  width: 240px;
  height: 240px;
}

#works .d36 .worksWindowBG {
  height: 120%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works .d36 .worksWindowBG ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 100%;
  width: max-content;
  justify-content: center;
}

#works .d36 .worksWindowBG ul li {
  height: auto;
  margin: 0 1vw;
}

#works .d36 .worksWindowBG ul li img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#works .d36 .title :first-child {
  /* background: red; */
}

#works .d36 .title :last-child {
  /* background: blue; */
}


#works .Sakuji .worksWindowBG {
  position: absolute;
  width: 100vw;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FDFD10;
}

#works .Sakuji .worksWindowBG img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works .NewTrials .worksWindowBG {
  position: absolute;
  width: 100vw;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #82FB0A;
}

#works .NewTrials .worksWindowBG img {
  width: auto;
  height: 40%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works .AppUI .worksWindowBG {
  position: absolute;
  height: 200%;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #cbb8ff;
}

#works .AppUI .worksWindowBG img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 137.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#works .Poster .worksWindowBG {
  position: absolute;
  height: 200%;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b3111b;
}

#works .Poster .worksWindowBG img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
#footer {
  margin: 54px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#footer .symbol {
width: 14%;
  margin-right: 4%;
  display: inline-block;
}

#footer h2 {
  color: var(--smoke, #F4F4F4);
  font-family: Scotch Display;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

#footer h2 img {
  width: 169px;
  height: 61px;
  margin-right: 40px;
}

#footer a {
  color: var(--smoke, #F4F4F4);
  text-align: center;
  font-family: A-OTF Ryumin Pr6N;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
  white-space: nowrap;
  display: inline-block;
}

#footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 148px;
}

#footer .content h2,
#footer .content a {
  margin: 0;
}

@media screen and (max-width: 768px) {
  #philosophy .decStatement {
    width: 10%;
  }  
}